@charset "utf-8";
$init:"../images/";
.wrapper{
    width: 100%;
    max-width:6.40rem;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    .hide{
        display: none;
        // -webkit-transform:scale(0);
        // -webkit-transition:.5s ease !important;
    }
    .loading{
        width: 6.4rem;
        height: 10.39rem;
        background-color: #000;
        .loadingImg{
            position: absolute;
            width: 1.97rem;
            height: 1.93rem;
            background-image: url(#{$init}loading_01.png);
            background-size: 1.97rem 1.93rem;
            top:3rem;
            left: 2rem;
            -webkit-animation:loading 1s linear infinite
        }
    }
    .home-page{
        width: 6.4rem;
        height: 10.39rem;
        position: absolute;
        background:  url(#{$init}home.jpg) 0 0 no-repeat;
        background-size: 6.4rem 10.39rem;
        //-webkit-transition: 2s ease;
        .people{
            width: 4.6rem;
            height: 5.8rem;
            position: absolute;
            background:  url(#{$init}home.png) no-repeat;
            background-size: 10.11rem 5.5rem;
            left: 1rem;
            bottom: 1.5rem;
            -webkit-animation:people 2s linear infinite;
            .boy{
                position: absolute;
                width: .7rem;
                height: .5rem;
                left: 1.1rem;
                top: 1.15rem;
                background:  url(#{$init}home.png) no-repeat;
                background-size: 10.11rem 5.5rem;
                background-position: -4.6rem 0;
                opacity: 0;
                //-webkit-transition: .2s ease ;
            }
            .girl{
                position: absolute;
                width: 1.40rem;
                height: .75rem;
                left: 2.55rem;
                top: 2.55rem;
                background:  url(#{$init}home.png) no-repeat;
                background-size: 10.11rem 5.5rem;
                background-position: -4.6rem -1.85rem;
                opacity: 0;
               // -webkit-transition: .5s ease ;
            }
            .boy-move{
            opacity: 1;
            }
        }
        .devil{
            position: absolute;
            width: 2.93rem;
            height: 1.26rem;
            background:  url(#{$init}home.png) no-repeat;
            background-size: 10.11rem 5.5rem;
            background-position: -6.07rem -1.78rem;
            left: .1rem;
            top:1rem;
            -webkit-animation:people 3s linear 1s infinite;
        }
        .ball1{
            position: absolute;
            width: 1.6rem;
            height: 1.53rem;
            background:  url(#{$init}home.png) no-repeat;
            background-size: 10.11rem 5.5rem;
            background-position: -8.02rem -.13rem;
            right: -.8rem;
            top: 1rem;
        }
        .ball2{
            position: absolute;
            width: 1.05rem;
            height: 1rem;
            background:  url(#{$init}home.png) no-repeat;
            background-size: 10.11rem 5.5rem;
            background-position: -9.06rem -1.80rem;
            left: .3rem;
            top: 2.8rem;
        }
        .title{
            width: 2.95rem;
            height: 2.2rem;
            position: absolute;
            background:  url(#{$init}home.png) no-repeat;
            background-size: 10.11rem 5.5rem;
            background-position: -5.97rem -3.22rem;
            left: 2rem;
            top: 1.3rem;
            -webkit-animation:title 4s linear infinite;
        }
        .enter{
            position: absolute;
            width: 2.45rem;
            height: .4rem;
            background:  url(#{$init}home1.png) no-repeat;
            background-size: 4.13rem 4.85rem;
            background-position: -.20rem -2.45rem;
            bottom: 1rem;
            left: 2rem;
            opacity: 0;
            -webkit-animation:enter 2s ease infinite;
            -webkit-animation-delay:1.5s;
        }
    }
    .game-mode{
        width: 6.4rem;
        height: 10.39rem;
        position: absolute;
        background:  url(#{$init}home1.jpg) 0 0 no-repeat;
        background-size: 6.4rem 10.39rem;
        .bg{
            width: 4.13rem;
            height: 2.45rem;
            position: absolute;
            background:  url(#{$init}home1.png) no-repeat;
            background-size: 4.13rem 4.85rem;
            background-position: 0rem 0rem;
            bottom: 3rem;
            left: 1rem;
            -webkit-transform:scale(1.3);
        }
        .classic-mode{
            width: 3.11rem;
            height: .96rem;
            position: absolute;
            background:  url(#{$init}home1.png) no-repeat;
            background-size: 4.13rem 4.85rem;
            background-position: -.01rem -2.85rem;
            bottom:1rem;
            left: .1rem;
            -webkit-transform:scale(.7);
            z-index:150;
            .stars{
                width: .54rem;
                height: .54rem;
                position: absolute;
                background:  url(#{$init}common1.png) no-repeat;
                background-size: 4.04rem 1.21rem;
                background-position: -.2rem -.6rem;
                left: .22rem;
                top: .15rem;
                -webkit-transform:rotate(-18deg);
                -webkit-animation:enter 2s ease infinite;
                -webkit-animation-delay: .8s;
            }
        }
        .lighting-mode{
            width: 3.01rem;
            height: .96rem;
            position: absolute;
            background:  url(#{$init}home1.png) no-repeat;
            background-size: 4.13rem 4.85rem;
            background-position: -.01rem -3.80rem;
            bottom:1rem;
            right: .1rem;
            -webkit-transform:scale(.7);
            -webkit-animation:jindian 2s ease infinite;
             z-index:150;
            .common{
                width: .95rem;
                height: .95rem;
                position: absolute;
                background:  url(#{$init}common1.png) no-repeat;
                background-size: 4.04rem 1.21rem;
                background-position: -2.85rem 0rem;
                -webkit-transform:scale(.7);
                -webkit-animation:enter 2s ease infinite;
            }
        }
        .grass{
            width: 6.40rem;
            height: 1.78rem;
            position: absolute;
            background:  url(#{$init}grass.png) no-repeat;
            background-size: 7.19rem 1.78rem;
            bottom:0;
        }
    }
    .gameBg{
        background:url(#{$init}bg0.jpg) 0 0 no-repeat;
        background-size:cover;
        width: 6.4rem;
        height: 11.38rem;
        .logo{
            width: .8rem;
            height: .75rem;
            position: absolute;
            background:url(#{$init}sprite4.png) no-repeat;
            background-size: 3.57rem 3.17rem;
            background-position: -2.47rem -.15rem;
            left: .2rem;
            top: .2rem;
        }
        .start{
            width: 2.9rem;
            height: 1rem;
            background:  url(#{$init}sprite4.png) no-repeat;
            background-size: 3.57rem 3.17rem;
            background-position: 0 -2.16rem;
            top: 4rem;
            left: 1.7rem;
            position: absolute;
            -webkit-transform:translateX(-5rem);
            //-webkit-transform:scale(0);
            -webkit-transition:1s ease;
        }
        .start-left{
            -webkit-transform:translateX(0);
            //-webkit-transform:scale(1);
        }
        .start-right{
            -webkit-transform:translateX(5rem);
        }
        .boom{
            width: 1.25rem;
            height: 1.35rem;
            position: absolute;
            left: 2rem;
            top: 3rem;
            .boom1{
                width: .85rem;
                height: 1.05rem;
                // left: .2rem;
                // top: .2rem;
                position: absolute;
                background:  url(#{$init}boom.png) no-repeat;
                background-size: 2.56rem 2.56rem;
                background-position: -1.55rem -.15rem;
                -webkit-transform:scale(1);
                -webkit-transition:.2s ease;
            }
            .boom2{
                position: absolute;
                width: 1.15rem;
                height: 1.35rem;
                background:  url(#{$init}boom.png) no-repeat;
                background-size: 2.56rem 2.56rem;
                background-position: -1.35rem -1.15rem;
                -webkit-transform:scale(0.5);
                opacity: 0;
                left: -.2rem;
                top: -.15rem;
                -webkit-transform-origin: center center;
                -webkit-transition:.2s ease;
            }
            .boom1-move{
            -webkit-transform:scale(0);
            }
            .boom2-move{
               -webkit-transform:scale(.7);
               opacity: 1;
            }
        }
        .pauseBtn{
            position: absolute;
            width: .9rem;
            height: .7rem;
            background:url(#{$init}pause.png) no-repeat;
            background-size: 4.28rem 4.51rem;
            background-position: -3.30rem -3.10rem;
                top: .2rem;
                right: .1rem;
        }
        .mask{
            width: 100%;
            height: 100%;
            background-color: #000;
            position: fixed;
            top: 0;
            left: 0;
            opacity: .7;
        }
        .pausePanel{
            position: absolute;
            width: 4.28rem;
            height: 3.08rem;
            background:url(#{$init}pause.png) no-repeat;
            background-size: 4.28rem 4.51rem;
            background-position: 0 0;
            top: 3rem;
            left: 1rem;
            .returnGame{
                position: absolute;
                width: 3.30rem;
                height: .7rem;
                background:url(#{$init}pause.png) no-repeat;
                background-size: 4.28rem 4.51rem;
                background-position: 0 -3.8rem;
                left: .5rem;
                top: .75rem;
            }
            .outGame{
                position: absolute;
                width: 3.30rem;
                height: .7rem;
                background:url(#{$init}pause.png) no-repeat;
                background-size: 4.28rem 4.51rem;
                background-position: 0 -3.1rem;
                left: .5rem;
                top: 1.7rem;
            }
        }
        .scorePanel{

            position: absolute;
            top: 2rem;
            left: 1rem;
            width: 4.5rem;
            height: 7rem;
                .PanelBg{
                position: absolute;
                width: 4.5rem;
                height: 4.9rem;
                background: url(#{$init}scorePanel.png) no-repeat;
                background-size: 4.5rem 6.69rem;
                background-position: 0 0;
                .pet{
                    position: absolute;
                    width: 1.66rem;
                    height: 1.78rem;
                    background: url(#{$init}scorePanel.png) no-repeat;
                    background-size: 4.5rem 6.69rem;
                    background-position: 0 -4.92rem;
                    right: 0rem;
                    top: 1.5rem;
                    -webkit-animation: people 2s linear infinite;
                }
                .eye{
                    position: absolute;
                    width: .7rem;
                    height: .5rem;
                    background: url(#{$init}scorePanel.png) no-repeat;
                    background-size: 4.5rem 6.69rem;
                    background-position: -1.76rem -4.90rem;
                    left: .9rem;
                    top: 1rem;
                    opacity: 0;
                    -webkit-transform:scaleY(1.1);
                }
                .eye-move{
                    opacity: 1;
                }
                .score{
                    color: #fff;
                    top: 3.6rem;
                    left: 1.78rem;
                    position: absolute;
                    font-size: .4rem;
                }
                .outGame{
                    position: absolute;
                    width: 2.3rem;
                    height: .85rem;
                    background:  url(#{$init}sprite4.png) no-repeat;
                    background-size: 3.57rem 3.17rem;
                    background-position: 0 -0.15rem;
                    top: 5rem;
                    left: 1.15rem;
                }
            }
        }
        .timeUp{
            width: 3.57rem;
            height: 1.02rem;
            position: absolute;
            background:url(#{$init}sprite4.png) no-repeat;
            background-size: 3.57rem 3.17rem;
            background-position: 0rem -1.08rem;
            top: 4rem;
            left: 1.7rem;
            -webkit-transform:translateY(-5rem);
            -webkit-transition:.5s ease;
        }
        .timeUp-move{
            -webkit-transform:translateY(0);
        }
    }

}

@-webkit-keyframes people{
    0%,50%,100%{
        -webkit-transform:translateY(0rem);
    }
    25%{
        -webkit-transform:translateY(.05rem);
    }
    75%{
        -webkit-transform:translateY(-.05rem);
    }
}
@-webkit-keyframes title{
    0%,100%{
        -webkit-transform:scale(.97);
    }
    50%{
        -webkit-transform:scale(1.03);
    }
}
@-webkit-keyframes enter{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@-webkit-keyframes common1{
    0%{
        -webkit-transform:scale(0);
        opacity: 0;
    }
    // 25%{
    //     -webkit-transform:scaleX(1) scaleY(1.5);
    //     opacity: 0.2;
    // }
    50%{
        -webkit-transform:scaleX(1) scaleY(1.7);
        opacity: 0.3;
    }
    75%{
        -webkit-transform:scaleX(1.3) scaleY(2.2);
        opacity: 1;
    }
    80%{
        -webkit-transform:scaleX(1.3) scaleY(2.2);
        opacity: 1;
    }
    85%{
        -webkit-transform:scaleX(1.3) scaleY(2.2);
        opacity: 1;
    }
    90%{
        -webkit-transform:scaleX(1.3) scaleY(2.2);
        opacity: 0.5;
    }
    95%{
        -webkit-transform:scaleX(1.3) scaleY(2.2);
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes loading{
    0%{
        background-image: url(#{$init}loading_01.png);
    }
    10%{
        background-image: url(#{$init}loading_02.png);
    }
    20%{
        background-image: url(#{$init}loading_03.png);
    }
    30%{
        background-image: url(#{$init}loading_04.png);
    }
    40%{
        background-image: url(#{$init}loading_05.png);
    }
    50%{
        background-image: url(#{$init}loading_06.png);
    }
    60%{
        background-image: url(#{$init}loading_07.png);
    }
    70%{
        background-image: url(#{$init}loading_08.png);
    }
    80%{
        background-image: url(#{$init}loading_09.png);
    }
    90%{
        background-image: url(#{$init}loading_10.png);
    }
    100%{
        background-image: url(#{$init}loading_11.png);
    }
}